/* Login */

.loginbg{
    background-image: url(../public/images/loginbg.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}